<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Untitled Custom SSG</title>
</head>
<body>
{{ with .Items }}
{{ range .}}
<p>
  {{ .Content }}
</p>
  {{ end }}
  {{ end }}
</body>
</html>